.home-container {
    padding: 2rem;
    background-color: #312f2a;
    color: #333;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
  }
  
 
  .home-container h2 {
    color: #4A90E2;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
  }
  

  .home-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    margin-top: 0.5rem;
    color: #9366e9;
  }
  

  