nav {
    background-color: #4A90E2;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    margin: 10px 60px;
  }
  
  nav h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px;

  }
  
  nav ul li a:hover {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 12px;
  }
  